config/flows_coffee.json
[{"id":"c221965d.ad0b68","type":"tab","label":"Base"},{"id":"8c1f7ae2.d10a88","type":"tab","label":"LED"},{"id":"27d6ce88.97cd32","type":"tab","label":"Social"},{"id":"8f52f3d0.cfa4","type":"tab","label":"Deploy"},{"id":"cf7e8b80.be5338","type":"twitter-credentials","z":"","screen_name":"@vergissberlin"},{"id":"8c8c1e5a.907a8","type":"rpi-pibrella in","z":"c221965d.ad0b68","name":"","pin":"Red Button","read":false,"x":210,"y":220,"wires":[["466e810f.3dfa8","72c77bd8.1d8fd4"]]},{"id":"466e810f.3dfa8","type":"template","z":"c221965d.ad0b68","name":"Message","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Der Eimer ist voll! {{payload}} ","x":420,"y":140,"wires":[[]]},{"id":"50bb6139.4fe6e","type":"inject","z":"c221965d.ad0b68","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":230,"y":140,"wires":[["466e810f.3dfa8","c14f58e4.1e9878"]]},{"id":"709f0a6f.da47e4","type":"rpi-pibrella in","z":"c221965d.ad0b68","name":"","pin":"In A","read":true,"x":210,"y":320,"wires":[["fc83031e.db4b8"]]},{"id":"b7c2f4df.1a0a28","type":"link in","z":"8c1f7ae2.d10a88","name":"","links":["c14f58e4.1e9878","72c77bd8.1d8fd4"],"x":195,"y":140,"wires":[["23de831d.5e315c"]]},{"id":"c14f58e4.1e9878","type":"link out","z":"c221965d.ad0b68","name":"LED","links":["b7c2f4df.1a0a28"],"x":575,"y":80,"wires":[]},{"id":"51d7f684.bf19a8","type":"rpi-pibrella out","z":"8c1f7ae2.d10a88","name":"","pin":"Red LED","set":false,"level":"0","out":"out","x":740,"y":80,"wires":[]},{"id":"1741c7e8.fdb6e8","type":"rpi-pibrella out","z":"8c1f7ae2.d10a88","name":"","pin":"Red LED","set":false,"level":"0","out":"out","x":740,"y":160,"wires":[]},{"id":"ac9cc3d1.cafb6","type":"rpi-pibrella out","z":"8c1f7ae2.d10a88","name":"","pin":"Green LED","set":false,"level":"0","out":"out","x":750,"y":220,"wires":[]},{"id":"c8c56ec6.cfc83","type":"link out","z":"c221965d.ad0b68","name":"","links":["75902ecf.f371f"],"x":575,"y":140,"wires":[]},{"id":"75902ecf.f371f","type":"link in","z":"27d6ce88.97cd32","name":"","links":["c8c56ec6.cfc83"],"x":135,"y":100,"wires":[["d7f3f7f1.4ba388"]]},{"id":"214a93ca.32696c","type":"twitter out","z":"27d6ce88.97cd32","twitter":"cf7e8b80.be5338","name":"Tweet","x":350,"y":100,"wires":[]},{"id":"2ffc6b6b.3cbb74","type":"rpi-pibrella out","z":"8c1f7ae2.d10a88","name":"","pin":"Buzzer ","set":false,"level":"0","out":"out","x":270,"y":320,"wires":[]},{"id":"11651f09.ad8c61","type":"inject","z":"8c1f7ae2.d10a88","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":130,"y":360,"wires":[["2ffc6b6b.3cbb74"]]},{"id":"8baf86e8.dbc928","type":"inject","z":"8c1f7ae2.d10a88","name":"","topic":"","payload":"50","payloadType":"num","repeat":"","crontab":"","once":false,"x":130,"y":320,"wires":[["2ffc6b6b.3cbb74"]]},{"id":"e47c92d.84f017","type":"inject","z":"8c1f7ae2.d10a88","name":"","topic":"","payload":"500","payloadType":"num","repeat":"","crontab":"","once":false,"x":130,"y":280,"wires":[["2ffc6b6b.3cbb74"]]},{"id":"a48d9bc2.03cb18","type":"inject","z":"c221965d.ad0b68","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":230,"y":80,"wires":[["466e810f.3dfa8","c14f58e4.1e9878"]]},{"id":"72c77bd8.1d8fd4","type":"link out","z":"c221965d.ad0b68","name":"","links":["b7c2f4df.1a0a28"],"x":575,"y":220,"wires":[]},{"id":"d7f3f7f1.4ba388","type":"e-mail","z":"27d6ce88.97cd32","server":"smtp.gmail.com","port":"465","name":"andre.lademann@netresearch.de","dname":"","x":440,"y":180,"wires":[]},{"id":"3bee3946.81ce66","type":"inject","z":"8f52f3d0.cfa4","name":"commit","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":170,"y":120,"wires":[["e7c83c0b.e7bd9"]]},{"id":"19982ad5.c026e5","type":"inject","z":"8f52f3d0.cfa4","name":"pull","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":170,"y":200,"wires":[["8b57953c.121a08"]]},{"id":"e7c83c0b.e7bd9","type":"exec","z":"8f52f3d0.cfa4","command":"sh flows/deploy.sh","addpay":true,"append":"","useSpawn":"","timer":"","name":"","x":390,"y":120,"wires":[["ce6bfdf6.64da2"],["ce6bfdf6.64da2"],["ce6bfdf6.64da2"]]},{"id":"ce6bfdf6.64da2","type":"debug","z":"8f52f3d0.cfa4","name":"","active":true,"console":"false","complete":"false","x":610,"y":160,"wires":[]},{"id":"8b57953c.121a08","type":"exec","z":"8f52f3d0.cfa4","command":"sh flows/pull.sh","addpay":true,"append":"","useSpawn":"","timer":"","name":"","x":380,"y":200,"wires":[["ce6bfdf6.64da2"],["ce6bfdf6.64da2"],["ce6bfdf6.64da2"]]},{"id":"fc83031e.db4b8","type":"delay","z":"c221965d.ad0b68","name":"","pauseType":"timed","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":430,"y":320,"wires":[["72c77bd8.1d8fd4","e2f6d179.de2a9"]]},{"id":"e2f6d179.de2a9","type":"debug","z":"c221965d.ad0b68","name":"","active":false,"console":"false","complete":"false","x":730,"y":320,"wires":[]},{"id":"23de831d.5e315c","type":"switch","z":"8c1f7ae2.d10a88","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","outputs":2,"x":370,"y":140,"wires":[["49336851.142968","51d7f684.bf19a8"],["9d0d6b4f.1b0998","1741c7e8.fdb6e8"]]},{"id":"49f89062.423f","type":"rpi-pibrella out","z":"8c1f7ae2.d10a88","name":"","pin":"Green LED","set":false,"level":"0","out":"out","x":750,"y":40,"wires":[]},{"id":"49336851.142968","type":"function","z":"8c1f7ae2.d10a88","name":"on","func":"msg.payload = 1;\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":40,"wires":[["49f89062.423f"]]},{"id":"9d0d6b4f.1b0998","type":"function","z":"8c1f7ae2.d10a88","name":"off","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":220,"wires":[["ac9cc3d1.cafb6"]]}]