config/flows_coffee.json
[
  {
    "id": "c221965d.ad0b68",
    "type": "tab",
    "label": "Base"
  },
  {
    "id": "8c1f7ae2.d10a88",
    "type": "tab",
    "label": "LED"
  },
  {
    "id": "27d6ce88.97cd32",
    "type": "tab",
    "label": "Social"
  },
  {
    "id": "cf7e8b80.be5338",
    "type": "twitter-credentials",
    "z": "",
    "screen_name": "@vergissberlin"
  },
  {
    "id": "8c8c1e5a.907a8",
    "type": "rpi-pibrella in",
    "z": "c221965d.ad0b68",
    "name": "",
    "pin": "Red Button",
    "read": false,
    "x": 210,
    "y": 220,
    "wires": [
      [
        "466e810f.3dfa8",
        "72c77bd8.1d8fd4"
      ]
    ]
  },
  {
    "id": "466e810f.3dfa8",
    "type": "template",
    "z": "c221965d.ad0b68",
    "name": "Message",
    "field": "payload",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "Der Eimer ist voll! {{payload}} ",
    "x": 420,
    "y": 140,
    "wires": [
      []
    ]
  },
  {
    "id": "50bb6139.4fe6e",
    "type": "inject",
    "z": "c221965d.ad0b68",
    "name": "",
    "topic": "",
    "payload": "0",
    "payloadType": "num",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 230,
    "y": 140,
    "wires": [
      [
        "466e810f.3dfa8",
        "c14f58e4.1e9878"
      ]
    ]
  },
  {
    "id": "709f0a6f.da47e4",
    "type": "rpi-pibrella in",
    "z": "c221965d.ad0b68",
    "name": "",
    "pin": "In A",
    "read": false,
    "x": 230,
    "y": 320,
    "wires": [
      [
        "72c77bd8.1d8fd4"
      ]
    ]
  },
  {
    "id": "b7c2f4df.1a0a28",
    "type": "link in",
    "z": "8c1f7ae2.d10a88",
    "name": "",
    "links": [
      "c14f58e4.1e9878",
      "72c77bd8.1d8fd4"
    ],
    "x": 195,
    "y": 140,
    "wires": [
      [
        "51d7f684.bf19a8",
        "1741c7e8.fdb6e8",
        "ac9cc3d1.cafb6"
      ]
    ]
  },
  {
    "id": "c14f58e4.1e9878",
    "type": "link out",
    "z": "c221965d.ad0b68",
    "name": "LED",
    "links": [
      "b7c2f4df.1a0a28"
    ],
    "x": 575,
    "y": 80,
    "wires": []
  },
  {
    "id": "51d7f684.bf19a8",
    "type": "rpi-pibrella out",
    "z": "8c1f7ae2.d10a88",
    "name": "",
    "pin": "Red LED",
    "set": false,
    "level": "0",
    "out": "out",
    "x": 340,
    "y": 80,
    "wires": []
  },
  {
    "id": "1741c7e8.fdb6e8",
    "type": "rpi-pibrella out",
    "z": "8c1f7ae2.d10a88",
    "name": "",
    "pin": "Amber LED",
    "set": false,
    "level": "0",
    "out": "out",
    "x": 350,
    "y": 140,
    "wires": []
  },
  {
    "id": "ac9cc3d1.cafb6",
    "type": "rpi-pibrella out",
    "z": "8c1f7ae2.d10a88",
    "name": "",
    "pin": "Green LED",
    "set": false,
    "level": "0",
    "out": "out",
    "x": 350,
    "y": 200,
    "wires": []
  },
  {
    "id": "c8c56ec6.cfc83",
    "type": "link out",
    "z": "c221965d.ad0b68",
    "name": "",
    "links": [
      "75902ecf.f371f"
    ],
    "x": 575,
    "y": 140,
    "wires": []
  },
  {
    "id": "75902ecf.f371f",
    "type": "link in",
    "z": "27d6ce88.97cd32",
    "name": "",
    "links": [
      "c8c56ec6.cfc83"
    ],
    "x": 135,
    "y": 100,
    "wires": [
      [
        "d7f3f7f1.4ba388"
      ]
    ]
  },
  {
    "id": "214a93ca.32696c",
    "type": "twitter out",
    "z": "27d6ce88.97cd32",
    "twitter": "cf7e8b80.be5338",
    "name": "Tweet",
    "x": 350,
    "y": 100,
    "wires": []
  },
  {
    "id": "2ffc6b6b.3cbb74",
    "type": "rpi-pibrella out",
    "z": "8c1f7ae2.d10a88",
    "name": "",
    "pin": "Buzzer ",
    "set": false,
    "level": "0",
    "out": "out",
    "x": 270,
    "y": 320,
    "wires": []
  },
  {
    "id": "11651f09.ad8c61",
    "type": "inject",
    "z": "8c1f7ae2.d10a88",
    "name": "",
    "topic": "",
    "payload": "0",
    "payloadType": "num",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 130,
    "y": 360,
    "wires": [
      [
        "2ffc6b6b.3cbb74"
      ]
    ]
  },
  {
    "id": "8baf86e8.dbc928",
    "type": "inject",
    "z": "8c1f7ae2.d10a88",
    "name": "",
    "topic": "",
    "payload": "50",
    "payloadType": "num",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 130,
    "y": 320,
    "wires": [
      [
        "2ffc6b6b.3cbb74"
      ]
    ]
  },
  {
    "id": "e47c92d.84f017",
    "type": "inject",
    "z": "8c1f7ae2.d10a88",
    "name": "",
    "topic": "",
    "payload": "500",
    "payloadType": "num",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 130,
    "y": 280,
    "wires": [
      [
        "2ffc6b6b.3cbb74"
      ]
    ]
  },
  {
    "id": "a48d9bc2.03cb18",
    "type": "inject",
    "z": "c221965d.ad0b68",
    "name": "",
    "topic": "",
    "payload": "1",
    "payloadType": "num",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 230,
    "y": 80,
    "wires": [
      [
        "466e810f.3dfa8",
        "c14f58e4.1e9878"
      ]
    ]
  },
  {
    "id": "72c77bd8.1d8fd4",
    "type": "link out",
    "z": "c221965d.ad0b68",
    "name": "",
    "links": [
      "b7c2f4df.1a0a28"
    ],
    "x": 395,
    "y": 280,
    "wires": []
  },
  {
    "id": "d7f3f7f1.4ba388",
    "type": "e-mail",
    "z": "27d6ce88.97cd32",
    "server": "smtp.gmail.com",
    "port": "465",
    "name": "andre.lademann@netresearch.de",
    "dname": "",
    "x": 440,
    "y": 180,
    "wires": []
  }
]
