data/flows.json
[
    {
        "id": "c221965d.ad0b68",
        "type": "tab",
        "label": "Base"
    },
    {
        "id": "8c1f7ae2.d10a88",
        "type": "tab",
        "label": "LED"
    },
    {
        "id": "27d6ce88.97cd32",
        "type": "tab",
        "label": "Social"
    },
    {
        "id": "8f52f3d0.cfa4",
        "type": "tab",
        "label": "Deploy"
    },
    {
        "id": "821f74f1.3c0ab8",
        "type": "subflow",
        "name": "Smooth",
        "info": "",
        "in": [
            {
                "x": 140,
                "y": 160,
                "wires": [
                    {
                        "id": "c8f8cc47.b393f"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 960,
                "y": 160,
                "wires": [
                    {
                        "id": "1213753d.48fc7b",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "d8ccdea1.54c1f",
        "type": "subflow",
        "name": "Hit",
        "info": "",
        "in": [
            {
                "x": 180,
                "y": 140,
                "wires": [
                    {
                        "id": "74647f.61039b8"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 440,
                "y": 140,
                "wires": [
                    {
                        "id": "74647f.61039b8",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "c99494d6.5b97e8",
        "type": "xmpp-server",
        "z": "",
        "server": "xmpp.netresearch.de",
        "port": "5222",
        "nickname": "foosball"
    },
    {
        "id": "11aa28e9.84d897",
        "type": "twitter-credentials",
        "z": "",
        "screen_name": "@vergissberlin"
    },
    {
        "id": "50bb6139.4fe6e",
        "type": "inject",
        "z": "c221965d.ad0b68",
        "name": "",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 150,
        "y": 420,
        "wires": [
            [
                "c14f58e4.1e9878",
                "be418b93.8bbcb8"
            ]
        ]
    },
    {
        "id": "b7c2f4df.1a0a28",
        "type": "link in",
        "z": "8c1f7ae2.d10a88",
        "name": "",
        "links": [
            "c14f58e4.1e9878",
            "72c77bd8.1d8fd4",
            "459535c1.dc4a9c"
        ],
        "x": 195,
        "y": 140,
        "wires": [
            [
                "c931e451.420ef8"
            ]
        ]
    },
    {
        "id": "c14f58e4.1e9878",
        "type": "link out",
        "z": "c221965d.ad0b68",
        "name": "LED",
        "links": [
            "b7c2f4df.1a0a28"
        ],
        "x": 475,
        "y": 360,
        "wires": []
    },
    {
        "id": "a48d9bc2.03cb18",
        "type": "inject",
        "z": "c221965d.ad0b68",
        "name": "",
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 150,
        "y": 360,
        "wires": [
            [
                "c14f58e4.1e9878",
                "be418b93.8bbcb8"
            ]
        ]
    },
    {
        "id": "3bee3946.81ce66",
        "type": "inject",
        "z": "8f52f3d0.cfa4",
        "name": "commit",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 170,
        "y": 420,
        "wires": [
            [
                "e7c83c0b.e7bd9"
            ]
        ]
    },
    {
        "id": "19982ad5.c026e5",
        "type": "inject",
        "z": "8f52f3d0.cfa4",
        "name": "pull",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 170,
        "y": 500,
        "wires": [
            [
                "8b57953c.121a08"
            ]
        ]
    },
    {
        "id": "e7c83c0b.e7bd9",
        "type": "exec",
        "z": "8f52f3d0.cfa4",
        "command": "sh app/scripts/deploy.sh",
        "addpay": true,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "",
        "x": 410,
        "y": 420,
        "wires": [
            [
                "ce6bfdf6.64da2"
            ],
            [
                "ce6bfdf6.64da2"
            ],
            [
                "ce6bfdf6.64da2"
            ]
        ]
    },
    {
        "id": "ce6bfdf6.64da2",
        "type": "debug",
        "z": "8f52f3d0.cfa4",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 690,
        "y": 540,
        "wires": []
    },
    {
        "id": "8b57953c.121a08",
        "type": "exec",
        "z": "8f52f3d0.cfa4",
        "command": "sh app/scripts/pull.sh",
        "addpay": true,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "",
        "x": 420,
        "y": 500,
        "wires": [
            [
                "ce6bfdf6.64da2"
            ],
            [
                "ce6bfdf6.64da2"
            ],
            [
                "ce6bfdf6.64da2"
            ]
        ]
    },
    {
        "id": "c8f8cc47.b393f",
        "type": "function",
        "z": "821f74f1.3c0ab8",
        "name": "status",
        "func": "flow.set('status', msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 250,
        "y": 160,
        "wires": [
            [
                "52b5658.6e7459c"
            ]
        ]
    },
    {
        "id": "52b5658.6e7459c",
        "type": "delay",
        "z": "821f74f1.3c0ab8",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "3",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 420,
        "y": 160,
        "wires": [
            [
                "be999bbd.0874f8"
            ]
        ]
    },
    {
        "id": "1213753d.48fc7b",
        "type": "function",
        "z": "821f74f1.3c0ab8",
        "name": "check status",
        "func": "var stat = flow.get('status');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 810,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "be999bbd.0874f8",
        "type": "delay",
        "z": "821f74f1.3c0ab8",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 620,
        "y": 160,
        "wires": [
            [
                "1213753d.48fc7b"
            ]
        ]
    },
    {
        "id": "bdfe9e1.a30856",
        "type": "http in",
        "z": "8f52f3d0.cfa4",
        "name": "",
        "url": "/info",
        "method": "get",
        "x": 880,
        "y": 880,
        "wires": [
            [
                "a835d5f9.b67238"
            ]
        ]
    },
    {
        "id": "a835d5f9.b67238",
        "type": "function",
        "z": "8f52f3d0.cfa4",
        "name": "Os Info",
        "func": "msg.payload = {\n    freemem: context.global.os.freemem(),\n    totalmem: context.global.os.totalmem(),\n    loadavg: context.global.os.loadavg(),\n    uptime: context.global.os.uptime()\n}\nreturn msg;",
        "outputs": 1,
        "x": 1060,
        "y": 880,
        "wires": [
            [
                "d9f25f82.33e8d"
            ]
        ]
    },
    {
        "id": "d9f25f82.33e8d",
        "type": "http response",
        "z": "8f52f3d0.cfa4",
        "name": "",
        "x": 1230,
        "y": 880,
        "wires": []
    },
    {
        "id": "1e162988.594826",
        "type": "inject",
        "z": "8f52f3d0.cfa4",
        "name": "backup",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 170,
        "y": 580,
        "wires": [
            [
                "23b424f1.5bab6c"
            ]
        ]
    },
    {
        "id": "23b424f1.5bab6c",
        "type": "exec",
        "z": "8f52f3d0.cfa4",
        "command": "sh app/scripts/backup.sh",
        "addpay": true,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "",
        "x": 410,
        "y": 580,
        "wires": [
            [
                "ce6bfdf6.64da2"
            ],
            [
                "ce6bfdf6.64da2"
            ],
            [
                "ce6bfdf6.64da2"
            ]
        ]
    },
    {
        "id": "b763b527.43b1b8",
        "type": "comment",
        "z": "c221965d.ad0b68",
        "name": "Testing",
        "info": "",
        "x": 110,
        "y": 300,
        "wires": []
    },
    {
        "id": "3f044858.1a6dc8",
        "type": "comment",
        "z": "c221965d.ad0b68",
        "name": "Production",
        "info": "",
        "x": 120,
        "y": 40,
        "wires": []
    },
    {
        "id": "15ff621b.5529fe",
        "type": "link out",
        "z": "c221965d.ad0b68",
        "name": "",
        "links": [
            "75902ecf.f371f",
            "db2b02a.82972"
        ],
        "x": 475,
        "y": 160,
        "wires": []
    },
    {
        "id": "459535c1.dc4a9c",
        "type": "link out",
        "z": "c221965d.ad0b68",
        "name": "",
        "links": [
            "b7c2f4df.1a0a28"
        ],
        "x": 475,
        "y": 100,
        "wires": []
    },
    {
        "id": "e7b31e6f.fbc97",
        "type": "rpi-gpio in",
        "z": "c221965d.ad0b68",
        "name": "",
        "pin": "15",
        "intype": "up",
        "debounce": "10000",
        "read": false,
        "x": 150,
        "y": 100,
        "wires": [
            [
                "459535c1.dc4a9c",
                "15ff621b.5529fe",
                "72ba6820.34f228"
            ]
        ]
    },
    {
        "id": "72ba6820.34f228",
        "type": "debug",
        "z": "c221965d.ad0b68",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 530,
        "y": 220,
        "wires": []
    },
    {
        "id": "c931e451.420ef8",
        "type": "rpi-gpio out",
        "z": "8c1f7ae2.d10a88",
        "name": "",
        "pin": "11",
        "set": "",
        "level": "0",
        "out": "out",
        "x": 370,
        "y": 140,
        "wires": []
    },
    {
        "id": "74647f.61039b8",
        "type": "switch",
        "z": "d8ccdea1.54c1f",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 310,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "db2b02a.82972",
        "type": "link in",
        "z": "27d6ce88.97cd32",
        "name": "",
        "links": [
            "15ff621b.5529fe"
        ],
        "x": 195,
        "y": 200,
        "wires": [
            [
                "deb12ce4.a4899"
            ]
        ]
    },
    {
        "id": "5aaf2102.ee676",
        "type": "e-mail",
        "z": "27d6ce88.97cd32",
        "server": "smtp.gmail.com",
        "port": "465",
        "name": "André Lademann <andre.lademann@netresearch.de>",
        "dname": "",
        "x": 862,
        "y": 199,
        "wires": []
    },
    {
        "id": "bf0d731f.05b94",
        "type": "xmpp out",
        "z": "27d6ce88.97cd32",
        "name": "",
        "server": "c99494d6.5b97e8",
        "to": "andre.lademann@netresearch.de",
        "join": false,
        "sendObject": false,
        "x": 572,
        "y": 319,
        "wires": []
    },
    {
        "id": "d1e81319.60b04",
        "type": "inject",
        "z": "27d6ce88.97cd32",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 402,
        "y": 319,
        "wires": [
            [
                "bf0d731f.05b94"
            ]
        ]
    },
    {
        "id": "cbd4058c.473bc8",
        "type": "status",
        "z": "27d6ce88.97cd32",
        "name": "",
        "scope": [
            "e9feb54d.1e9498",
            "bf0d731f.05b94"
        ],
        "x": 282,
        "y": 399,
        "wires": [
            [
                "1f92d43c.8baa3c"
            ]
        ]
    },
    {
        "id": "1f92d43c.8baa3c",
        "type": "debug",
        "z": "27d6ce88.97cd32",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 532,
        "y": 419,
        "wires": []
    },
    {
        "id": "e9feb54d.1e9498",
        "type": "xmpp in",
        "z": "27d6ce88.97cd32",
        "name": "",
        "server": "c99494d6.5b97e8",
        "to": "foosball@netresearch.xmpp.slack.com",
        "join": false,
        "x": 292,
        "y": 459,
        "wires": [
            [
                "1f92d43c.8baa3c"
            ],
            [
                "1f92d43c.8baa3c"
            ]
        ]
    },
    {
        "id": "13de7acd.40f645",
        "type": "twitter out",
        "z": "27d6ce88.97cd32",
        "twitter": "11aa28e9.84d897",
        "name": "Tweet",
        "x": 572,
        "y": 79,
        "wires": []
    },
    {
        "id": "cecaebf.ced6418",
        "type": "inject",
        "z": "27d6ce88.97cd32",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 402,
        "y": 79,
        "wires": [
            [
                "13de7acd.40f645"
            ]
        ]
    },
    {
        "id": "6d5b4efc.84aa8",
        "type": "inject",
        "z": "27d6ce88.97cd32",
        "name": "",
        "topic": "Der Eimer der Kaffeemaschine ist voll",
        "payload": "Es wird Zeit ihn zu leeren",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 412,
        "y": 259,
        "wires": [
            [
                "6448e403.dfd37c"
            ]
        ]
    },
    {
        "id": "6448e403.dfd37c",
        "type": "function",
        "z": "27d6ce88.97cd32",
        "name": "msg",
        "func": "msg.topic = 'JURA: Der Eimer der Kaffemaschine ist voll.';\nmsg.from = 'andre.lademann@netresearch.de';\nmsg.payload = '<h1>Alarm</h1><marquee>Bracket buster</marquee><div itemscope itemtype=\"http://schema.org/EmailMessage\">  <div itemprop=\"potentialAction\" itemscope itemtype=\"http://schema.org/ConfirmAction\">    <meta itemprop=\"name\" content=\"Approve Expense\"/>    <div itemprop=\"handler\" itemscope itemtype=\"http://schema.org/HttpActionHandler\">      <link itemprop=\"url\" href=\"https://myexpenses.com/approve?expenseId=abc123\"/>    </div>  </div>  <meta itemprop=\"description\" content=\"Approval request for Johns $10.13 expense for office supplies\"/></div>';\nmsg.attachements= [\n    {\n        filename: 'README.md',\n        path: '/app/README.md'\n    },\n       {   // use URL as an attachment \n        filename: 'license.txt',\n        path: 'https://raw.github.com/nodemailer/nodemailer/master/LICENSE'\n    }\n];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 572,
        "y": 199,
        "wires": [
            [
                "5aaf2102.ee676",
                "72ec8056.c16e7"
            ]
        ]
    },
    {
        "id": "d49d14ba.0b3b88",
        "type": "template",
        "z": "27d6ce88.97cd32",
        "name": "Event",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<html>\n  <head>\n    <title>Did you enjoy Google Cafe?</title>\n  </head>\n  <body>\n    <script type=\"application/ld+json\">\n{\n  \"@context\": \"http://schema.org\",\n  \"@type\": \"EmailMessage\",\n  \"potentialAction\": {\n    \"@type\": \"ReviewAction\",\n    \"review\": {\n      \"@type\": \"Review\",\n      \"itemReviewed\": {\n        \"@type\": \"FoodEstablishment\",\n        \"name\": \"Joe's Diner\"\n      },\n      \"reviewRating\": {\n        \"@type\": \"Rating\",\n        \"bestRating\": \"5\",\n        \"worstRating\": \"1\"\n      }\n    },\n    \"handler\": {\n      \"@type\": \"HttpActionHandler\",\n      \"url\": \"http://reviews.com/review?id=123\",\n      \"requiredProperty\": {\n        \"@type\": \"Property\",\n        \"name\": \"review.reviewRating.ratingValue\"\n      },\n      \"method\": \"http://schema.org/HttpRequestMethod/POST\"\n    }\n  },\n  \"description\": \"We hope you enjoyed your meal at Joe's Diner. Please rate your experience.\"\n}\n</script>\n<script type=\"application/ld+json\">\n{\n  \"@context\": \"http://schema.org\",\n  \"@type\": \"EventReservation\",\n  \"reservationNumber\": \"E123456789\",\n  \"reservationStatus\": \"http://schema.org/Confirmed\",\n  \"underName\": {\n    \"@type\": \"Person\",\n    \"name\": \"John Smith\"\n  },\n  \"reservationFor\": {\n    \"@type\": \"Event\",\n    \"name\": \"Foo Fighters Concert\",\n    \"startDate\": \"2017-03-06T19:30:00-08:00\",\n    \"location\": {\n      \"@type\": \"Place\",\n      \"name\": \"AT&T Park\",\n      \"address\": {\n        \"@type\": \"PostalAddress\",\n        \"streetAddress\": \"24 Willie Mays Plaza\",\n        \"addressLocality\": \"San Francisco\",\n        \"addressRegion\": \"CA\",\n        \"postalCode\": \"94107\",\n        \"addressCountry\": \"US\"\n      }\n    }\n  }\n}\n</script>\n    <p>\n      Dear John, please rate Google Cafe between 1 and 5 stars and, optionally, add a text comment.\n    </p>\n  </body>\n</html>",
        "x": 572,
        "y": 139,
        "wires": [
            [
                "5aaf2102.ee676"
            ]
        ]
    },
    {
        "id": "2294616c.fe4cfe",
        "type": "inject",
        "z": "27d6ce88.97cd32",
        "name": "",
        "topic": "Event",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 382,
        "y": 139,
        "wires": [
            [
                "d49d14ba.0b3b88"
            ]
        ]
    },
    {
        "id": "deb12ce4.a4899",
        "type": "subflow:d8ccdea1.54c1f",
        "z": "27d6ce88.97cd32",
        "name": "",
        "x": 412,
        "y": 199,
        "wires": [
            [
                "6448e403.dfd37c"
            ]
        ]
    },
    {
        "id": "7deae979.e0e968",
        "type": "inject",
        "z": "27d6ce88.97cd32",
        "name": "",
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 160,
        "y": 160,
        "wires": [
            [
                "deb12ce4.a4899"
            ]
        ]
    },
    {
        "id": "72ec8056.c16e7",
        "type": "e-mail",
        "z": "27d6ce88.97cd32",
        "server": "smtp.gmail.com",
        "port": "465",
        "name": "Norman Golatka <norman.golatka@netresearch.de>",
        "dname": "",
        "x": 862,
        "y": 239,
        "wires": []
    },
    {
        "id": "be418b93.8bbcb8",
        "type": "link out",
        "z": "c221965d.ad0b68",
        "name": "",
        "links": [
            "75902ecf.f371f",
            "db2b02a.82972"
        ],
        "x": 475,
        "y": 420,
        "wires": []
    },
    {
        "id": "9d8380df.d7a17",
        "type": "inject",
        "z": "8f52f3d0.cfa4",
        "name": "recover",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 170,
        "y": 660,
        "wires": [
            [
                "a5054760.cb8c48"
            ]
        ]
    },
    {
        "id": "a5054760.cb8c48",
        "type": "exec",
        "z": "8f52f3d0.cfa4",
        "command": "sh app/scripts/recover.sh",
        "addpay": true,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "",
        "x": 410,
        "y": 660,
        "wires": [
            [
                "ce6bfdf6.64da2"
            ],
            [
                "ce6bfdf6.64da2"
            ],
            [
                "ce6bfdf6.64da2"
            ]
        ]
    },
    {
        "id": "b07ad58e.a81a18",
        "type": "restart",
        "z": "8f52f3d0.cfa4",
        "name": "restart container",
        "x": 420,
        "y": 880,
        "wires": [
            [
                "e30770c0.0eb67"
            ]
        ]
    },
    {
        "id": "ee527e26.4b8c1",
        "type": "comment",
        "z": "8f52f3d0.cfa4",
        "name": "resin.io",
        "info": "",
        "x": 114,
        "y": 806,
        "wires": []
    },
    {
        "id": "328033d3.d221fc",
        "type": "inject",
        "z": "8f52f3d0.cfa4",
        "name": "restart",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 170,
        "y": 880,
        "wires": [
            [
                "b07ad58e.a81a18"
            ]
        ]
    },
    {
        "id": "e30770c0.0eb67",
        "type": "debug",
        "z": "8f52f3d0.cfa4",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 630,
        "y": 880,
        "wires": []
    },
    {
        "id": "3832330f.41324c",
        "type": "reboot",
        "z": "8f52f3d0.cfa4",
        "name": "reboot device",
        "x": 420,
        "y": 940,
        "wires": [
            [
                "e30770c0.0eb67"
            ]
        ]
    },
    {
        "id": "50423209.c5b4dc",
        "type": "inject",
        "z": "8f52f3d0.cfa4",
        "name": "reboot",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 170,
        "y": 940,
        "wires": [
            [
                "3832330f.41324c"
            ]
        ]
    },
    {
        "id": "4bcda927.9d1868",
        "type": "comment",
        "z": "8f52f3d0.cfa4",
        "name": "Init",
        "info": "",
        "x": 110,
        "y": 40,
        "wires": []
    },
    {
        "id": "c71c458b.5c2338",
        "type": "debug",
        "z": "8f52f3d0.cfa4",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 690,
        "y": 160,
        "wires": []
    },
    {
        "id": "442fbd86.9f1264",
        "type": "inject",
        "z": "8f52f3d0.cfa4",
        "name": "init",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 170,
        "y": 120,
        "wires": [
            [
                "f7f22b28.d8fba8"
            ]
        ]
    },
    {
        "id": "f7f22b28.d8fba8",
        "type": "exec",
        "z": "8f52f3d0.cfa4",
        "command": "sh app/scripts/init.sh",
        "addpay": true,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "",
        "x": 420,
        "y": 120,
        "wires": [
            [
                "c71c458b.5c2338"
            ],
            [
                "c71c458b.5c2338"
            ],
            [
                "c71c458b.5c2338"
            ]
        ]
    },
    {
        "id": "1a866fd0.9555b",
        "type": "inject",
        "z": "8f52f3d0.cfa4",
        "name": "clone",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 170,
        "y": 200,
        "wires": [
            [
                "102f0e5c.69eff2"
            ]
        ]
    },
    {
        "id": "102f0e5c.69eff2",
        "type": "exec",
        "z": "8f52f3d0.cfa4",
        "command": "sh app/scripts/init.sh",
        "addpay": true,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "",
        "x": 420,
        "y": 200,
        "wires": [
            [
                "c71c458b.5c2338"
            ],
            [
                "c71c458b.5c2338"
            ],
            [
                "c71c458b.5c2338"
            ]
        ]
    },
    {
        "id": "9bd9cca2.b4afc",
        "type": "comment",
        "z": "8f52f3d0.cfa4",
        "name": "System info",
        "info": "",
        "x": 870,
        "y": 800,
        "wires": []
    },
    {
        "id": "3ca85f17.b7499",
        "type": "comment",
        "z": "8f52f3d0.cfa4",
        "name": "Deployment",
        "info": "",
        "x": 130,
        "y": 340,
        "wires": []
    },
    {
        "id": "b9c16ec8.d919",
        "type": "inject",
        "z": "8f52f3d0.cfa4",
        "name": "ssh",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 170,
        "y": 280,
        "wires": [
            [
                "b72f587e.24dcb8"
            ]
        ]
    },
    {
        "id": "b72f587e.24dcb8",
        "type": "exec",
        "z": "8f52f3d0.cfa4",
        "command": "echo $APP_NAME $GIT_REPOSITORY",
        "addpay": true,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "",
        "x": 480,
        "y": 280,
        "wires": [
            [
                "c71c458b.5c2338"
            ],
            [
                "c71c458b.5c2338"
            ],
            [
                "c71c458b.5c2338"
            ]
        ]
    }
]