node-red/flows.json
[{"id":"c221965d.ad0b68","type":"tab","label":"Base"},{"id":"8c1f7ae2.d10a88","type":"tab","label":"LED"},{"id":"27d6ce88.97cd32","type":"tab","label":"Social"},{"id":"8f52f3d0.cfa4","type":"tab","label":"Deploy"},{"id":"821f74f1.3c0ab8","type":"subflow","name":"Smooth","info":"","in":[{"x":140,"y":160,"wires":[{"id":"c8f8cc47.b393f"}]}],"out":[{"x":960,"y":160,"wires":[{"id":"1213753d.48fc7b","port":0}]}]},{"id":"c99494d6.5b97e8","type":"xmpp-server","z":"","server":"xmpp.netresearch.de","port":"5222","nickname":"foosball"},{"id":"d5b56ad4.b27838","type":"xmpp-server","z":"","server":"netresearch.xmpp.slack.com","port":"5222","nickname":"ala"},{"id":"b3dee074.0b68b","type":"xmpp-server","z":"","server":"conference.netresearch.xmpp.slack.com","port":"5222","nickname":"ala"},{"id":"c0738453.297278","type":"xmpp-server","z":"","server":"netresearch.de","port":"5222","nickname":"andre.lademann"},{"id":"8c8c1e5a.907a8","type":"rpi-pibrella in","z":"c221965d.ad0b68","name":"","pin":"Red Button","read":false,"x":150,"y":100,"wires":[["72c77bd8.1d8fd4","c8c56ec6.cfc83"]]},{"id":"50bb6139.4fe6e","type":"inject","z":"c221965d.ad0b68","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":150,"y":420,"wires":[["c14f58e4.1e9878"]]},{"id":"709f0a6f.da47e4","type":"rpi-pibrella in","z":"c221965d.ad0b68","name":"","pin":"In A","read":true,"x":168,"y":199,"wires":[["72c77bd8.1d8fd4","c8c56ec6.cfc83"]]},{"id":"b7c2f4df.1a0a28","type":"link in","z":"8c1f7ae2.d10a88","name":"","links":["c14f58e4.1e9878","72c77bd8.1d8fd4"],"x":195,"y":140,"wires":[["23de831d.5e315c","4e412c1c.600ac4"]]},{"id":"c14f58e4.1e9878","type":"link out","z":"c221965d.ad0b68","name":"LED","links":["b7c2f4df.1a0a28"],"x":495,"y":360,"wires":[]},{"id":"51d7f684.bf19a8","type":"rpi-pibrella out","z":"8c1f7ae2.d10a88","name":"","pin":"Red LED","set":false,"level":"0","out":"out","x":740,"y":100,"wires":[]},{"id":"1741c7e8.fdb6e8","type":"rpi-pibrella out","z":"8c1f7ae2.d10a88","name":"","pin":"Red LED","set":false,"level":"0","out":"out","x":740,"y":160,"wires":[]},{"id":"ac9cc3d1.cafb6","type":"rpi-pibrella out","z":"8c1f7ae2.d10a88","name":"","pin":"Green LED","set":false,"level":"0","out":"out","x":750,"y":220,"wires":[]},{"id":"c8c56ec6.cfc83","type":"link out","z":"c221965d.ad0b68","name":"","links":["75902ecf.f371f"],"x":515,"y":200,"wires":[]},{"id":"75902ecf.f371f","type":"link in","z":"27d6ce88.97cd32","name":"","links":["c8c56ec6.cfc83"],"x":175,"y":100,"wires":[["e82da88c.1cbad8"]]},{"id":"2ffc6b6b.3cbb74","type":"rpi-pibrella out","z":"8c1f7ae2.d10a88","name":"","pin":"Buzzer ","set":false,"level":"0","out":"out","x":290,"y":420,"wires":[]},{"id":"11651f09.ad8c61","type":"inject","z":"8c1f7ae2.d10a88","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":150,"y":460,"wires":[["2ffc6b6b.3cbb74"]]},{"id":"8baf86e8.dbc928","type":"inject","z":"8c1f7ae2.d10a88","name":"","topic":"","payload":"50","payloadType":"num","repeat":"","crontab":"","once":false,"x":150,"y":420,"wires":[["2ffc6b6b.3cbb74"]]},{"id":"e47c92d.84f017","type":"inject","z":"8c1f7ae2.d10a88","name":"","topic":"","payload":"500","payloadType":"num","repeat":"","crontab":"","once":false,"x":150,"y":380,"wires":[["2ffc6b6b.3cbb74"]]},{"id":"a48d9bc2.03cb18","type":"inject","z":"c221965d.ad0b68","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":150,"y":360,"wires":[["c14f58e4.1e9878"]]},{"id":"72c77bd8.1d8fd4","type":"link out","z":"c221965d.ad0b68","name":"","links":["b7c2f4df.1a0a28"],"x":515,"y":100,"wires":[]},{"id":"3bee3946.81ce66","type":"inject","z":"8f52f3d0.cfa4","name":"commit","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":170,"y":120,"wires":[["e7c83c0b.e7bd9"]]},{"id":"19982ad5.c026e5","type":"inject","z":"8f52f3d0.cfa4","name":"pull","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":170,"y":200,"wires":[["8b57953c.121a08"]]},{"id":"e7c83c0b.e7bd9","type":"exec","z":"8f52f3d0.cfa4","command":"sh scripts/deploy.sh","addpay":true,"append":"","useSpawn":"","timer":"","name":"","x":400,"y":120,"wires":[["ce6bfdf6.64da2"],["ce6bfdf6.64da2"],["ce6bfdf6.64da2"]]},{"id":"ce6bfdf6.64da2","type":"debug","z":"8f52f3d0.cfa4","name":"","active":true,"console":"false","complete":"false","x":710,"y":240,"wires":[]},{"id":"8b57953c.121a08","type":"exec","z":"8f52f3d0.cfa4","command":"sh scripts/pull.sh","addpay":true,"append":"","useSpawn":"","timer":"","name":"","x":390,"y":200,"wires":[["ce6bfdf6.64da2"],["ce6bfdf6.64da2"],["ce6bfdf6.64da2"]]},{"id":"23de831d.5e315c","type":"switch","z":"8c1f7ae2.d10a88","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","outputs":2,"x":370,"y":140,"wires":[["49336851.142968","51d7f684.bf19a8"],["9d0d6b4f.1b0998","1741c7e8.fdb6e8","72472be0.36ca64"]]},{"id":"49f89062.423f","type":"rpi-pibrella out","z":"8c1f7ae2.d10a88","name":"","pin":"Green LED","set":false,"level":"0","out":"out","x":750,"y":40,"wires":[]},{"id":"49336851.142968","type":"function","z":"8c1f7ae2.d10a88","name":"on","func":"msg.payload = 1;\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":40,"wires":[["49f89062.423f"]]},{"id":"9d0d6b4f.1b0998","type":"function","z":"8c1f7ae2.d10a88","name":"off","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":220,"wires":[["ac9cc3d1.cafb6"]]},{"id":"c8f8cc47.b393f","type":"function","z":"821f74f1.3c0ab8","name":"status","func":"flow.set('status', msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":160,"wires":[["52b5658.6e7459c"]]},{"id":"52b5658.6e7459c","type":"delay","z":"821f74f1.3c0ab8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"3","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":420,"y":160,"wires":[["be999bbd.0874f8"]]},{"id":"1213753d.48fc7b","type":"function","z":"821f74f1.3c0ab8","name":"check status","func":"var stat = flow.get('status');\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":160,"wires":[[]]},{"id":"be999bbd.0874f8","type":"delay","z":"821f74f1.3c0ab8","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":620,"y":160,"wires":[["1213753d.48fc7b"]]},{"id":"4e412c1c.600ac4","type":"rpi-pibrella out","z":"8c1f7ae2.d10a88","name":"","pin":"Out E","set":true,"level":"1","out":"out","x":370,"y":180,"wires":[]},{"id":"c3bde9a3.3617e8","type":"xmpp out","z":"27d6ce88.97cd32","name":"","server":"c99494d6.5b97e8","to":"andre.lademann@netresearch.de","join":false,"sendObject":false,"x":610,"y":100,"wires":[]},{"id":"ee2fcecc.ce01f","type":"inject","z":"27d6ce88.97cd32","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":220,"y":160,"wires":[["aa242f9.e0643d"]]},{"id":"eddc3c2a.f4994","type":"status","z":"27d6ce88.97cd32","name":"","scope":["c3bde9a3.3617e8"],"x":140,"y":340,"wires":[["51bde115.7b854"]]},{"id":"51bde115.7b854","type":"debug","z":"27d6ce88.97cd32","name":"","active":false,"console":"false","complete":"payload","x":350,"y":340,"wires":[]},{"id":"cbad36ab.6a4d08","type":"xmpp in","z":"27d6ce88.97cd32","name":"","server":"c99494d6.5b97e8","to":"andre.lademann@netresearch.de","join":false,"x":150,"y":420,"wires":[["51bde115.7b854"],["51bde115.7b854"]]},{"id":"9a844bb8.3f85c8","type":"rpi-pibrella out","z":"8c1f7ae2.d10a88","name":"","pin":"Buzzer ","set":false,"level":"0","out":"out","x":730,"y":280,"wires":[]},{"id":"72472be0.36ca64","type":"function","z":"8c1f7ae2.d10a88","name":"100hz","func":"msg.payload = 100;\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":280,"wires":[["9a844bb8.3f85c8","db9b3dfa.b99a9"]]},{"id":"db9b3dfa.b99a9","type":"delay","z":"8c1f7ae2.d10a88","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":540,"y":360,"wires":[["47585329.e8b26c"]]},{"id":"47585329.e8b26c","type":"function","z":"8c1f7ae2.d10a88","name":"off","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":360,"wires":[["9a844bb8.3f85c8"]]},{"id":"bdfe9e1.a30856","type":"http in","z":"8f52f3d0.cfa4","name":"","url":"/info","method":"get","x":160,"y":480,"wires":[["a835d5f9.b67238"]]},{"id":"a835d5f9.b67238","type":"function","z":"8f52f3d0.cfa4","name":"Os Info","func":"msg.payload = {\n    freemem: context.global.os.freemem(),\n    totalmem: context.global.os.totalmem(),\n    loadavg: context.global.os.loadavg(),\n    uptime: context.global.os.uptime()\n}\nreturn msg;","outputs":1,"x":357,"y":480,"wires":[["d9f25f82.33e8d"]]},{"id":"d9f25f82.33e8d","type":"http response","z":"8f52f3d0.cfa4","name":"","x":687,"y":480,"wires":[]},{"id":"1e162988.594826","type":"inject","z":"8f52f3d0.cfa4","name":"backup","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":170,"y":280,"wires":[["23b424f1.5bab6c"]]},{"id":"23b424f1.5bab6c","type":"exec","z":"8f52f3d0.cfa4","command":"sh scripts/backup.sh","addpay":true,"append":"","useSpawn":"","timer":"","name":"","x":400,"y":280,"wires":[["ce6bfdf6.64da2"],["ce6bfdf6.64da2"],["ce6bfdf6.64da2"]]},{"id":"1568826a.8f39ee","type":"inject","z":"8f52f3d0.cfa4","name":"init","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":170,"y":360,"wires":[["1fdb385b.e7d548"]]},{"id":"1fdb385b.e7d548","type":"exec","z":"8f52f3d0.cfa4","command":"sh scripts/init.sh","addpay":true,"append":"","useSpawn":"","timer":"","name":"","x":380,"y":360,"wires":[["ce6bfdf6.64da2"],["ce6bfdf6.64da2"],["ce6bfdf6.64da2"]]},{"id":"aa242f9.e0643d","type":"template","z":"27d6ce88.97cd32","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Der Eimer ist voll!","x":470,"y":100,"wires":[["c3bde9a3.3617e8"]]},{"id":"e82da88c.1cbad8","type":"switch","z":"27d6ce88.97cd32","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","outputs":1,"x":310,"y":100,"wires":[["aa242f9.e0643d"]]},{"id":"b763b527.43b1b8","type":"comment","z":"c221965d.ad0b68","name":"Testing","info":"","x":110,"y":300,"wires":[]},{"id":"3f044858.1a6dc8","type":"comment","z":"c221965d.ad0b68","name":"Production","info":"","x":120,"y":40,"wires":[]}]